<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Lokad Forecasting Client for .NET</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="description" content="Download .NET client to access the Forecasting API of Lokad"/>	
	
	<META Http-Equiv="Cache-Control" Content="no-cache">
	<META Http-Equiv="Pragma" Content="no-cache">
	<META Http-Equiv="Expires" Content="0">
</head>
<body>
<h1>Lokad Forecasting Client</h1>
<h2>Downloads</h2>
<ul>
    <li><a href="${Version}/${BinaryPackage}">Download binaries</a> (.NET 3.5, DLL, PDB, XML).</li>
	<li><a href="${Version}/${SourcePackage}">Download sources</a> (C#, VS 2010 solution).</li>
</ul>
<h2>Links</h2>
<ul>
	<li><a href="http://code.google.com/p/lokad-sdk/">Project page on <em>Google Code</em></a></li>
	<li><a href="http://www.lokad.com">Lokad.com</a></li>
</ul>
<p><sub><em>Build ${Version} released on ${BuildTime}.</em></sub></p>
<p>&copy;2010 Lokad. All rights reserved.</p>
</body>
</html>


